body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 120px auto;
    max-width: 900px;
}

h3 {
    color: rgb(59, 54, 26);
    font-size: 18px;
    line-height: 1.2;
}

p {
    color: black;
    font-size: 16px;
    line-height: 1.2;
    margin-left: 15px;
    justify-content: end;
}

hr {
    box-shadow: 10px 10px 20px rgb(181, 181, 181);
    margin-top: 80px;
}

footer {
    font-family:'Genova', sans-serif;
    margin-top: 20px;
    font-size: 12px;
}

.hidden {
    display: none;
}

.app-name {
    margin-bottom: 40px;
}
.title {
    font-family:'Genova', sans-serif;
    font-size: 58px;
    font-weight: 600;
    line-height: 1;
}

.title-emoji {
    font-size: 100px;
}

.subtitle {
    font-family:'Genova', sans-serif;
    margin-top: 10px;
    margin-left: 195px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
}

.hi-button {
    font-family:'Genova', sans-serif;
    font-size: 14px;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    background-color: black;
    box-shadow: 10px 10px 20px rgb(181, 181, 181);
    color: white;
    padding: 5px 15px;
    margin: 80px 0 20px 0;
}

.intro-message {
    padding: 40px 0 0 0;
    font-size: 16px;
    line-height: 2;
}

.form {
    margin: 20px 0 8px 0;
}

.user-instructions, .submit-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.2;
    padding: 5px 15px;
    border-width: 1px;
    border-radius: 5px;    
}

.user-instructions {
    width: 600px;
    border-color: grey;
}

.submit-button {
    border-color: black;
    background-color: black;
    box-shadow: 10px 10px 20px rgb(181, 181, 181);
    color: white;
}

.user-xp {
    color: rgb(147, 147, 147);
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 20px;
}

.generating {
    font-size: 12px;
    margin-top: 30px;
    font-style: italic;
}

.recepy-wrapper {
    display: block;
    margin: 0 auto;
    background-color: rgba(202, 202, 202, 0.2);
    border-radius: 5px;
    max-width: 700px;
    text-align: left;
    margin-top: 60px;
    margin-left: 80px;
    padding: 15px;
}

.git-profile, .git-project, .host-link {
    color: rgb(81, 75, 35);
}

.git-profile:hover, .git-project:hover, .host-link:hover {
     color: rgba(29, 29, 27, 0.4);
}

.git-profile:visited, .git-project:visited, .host-link:visited {
       color: rgba(27, 29, 27, 0.4);
}

.git-profile:active, .git-project:active, .host-link:active {
       color: rgba(29, 29, 27, 0.4);
}